<!DOCTYPE html>
<meta charset="UTF-8">
<!DOCTYPE html>
<html>
<head>
	<title>Contact page</title>

	<style>
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: auto;
			background-color: #333;
		}

		li {
			float: left;
		}

		li a {
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		li:hover {
			background-color: #111;
		}
		.active {
	    background-color: #009933;
		}

		input[type=text] {
			width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			box-sizing: border-box;
			border: 1px solid #555;
			outline: none;;
		}
		input[type=text]:focus {
			border: 2px solid #33ccff;
			border-radius: 5px;
		}
			input[type=email] {
			width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			box-sizing: border-box;
			border: 1px solid #555;
			outline: none;;
		}
		input[type=email]:focus {
			border: 2px solid #33ccff;
			border-radius: 5px;
		}
		input[type=submit] {
		    background-color: #009933;
		    color: white;
		    padding: 12px 20px;
		    border: none;
		    border-radius: 4px;
		    cursor: pointer;
		    float: left;
		    margin-left: 50px;
		}

		input[type=submit]:hover {
	    background-color: #45a049;
	    }

		p.espace {
			line-height: 2;
		}

		.modal {
			display: none;
			position: fixed;
			z-index: 1;
			padding-top: 100px;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: rgb(0,0,0);
			background-color: rgba(0,0,0,0.4);
		}
		.modal-content {
			background-color: #fefefe;
			margin: auto;
			padding: 20px;
			border: 1px solid #888;
		}

		.close {
			color: #aaaaaa;
			float: right;
			font-size: 28px;
			font-weight: bold;
		}
		.close:hover,
		.close:focus {
			color: #000;
			text-decoration: none;
			cursor: pointer;
		}

	</style>

	<ul>
	  <li><a href="home">Home</a></li>
	  <li><a href="ajout">Soumettre une message</a></li>
	  <li style="float:right"><a class="active" href="contact">Nous contacter</a></li>
	</ul>


</head>


<body>
	
	<div id="myModal" class="modal">
		<div class="modal-content">
			<span class="close">&time;</span>
			<p>Merci de bien vouloir nous contacter afin de revoir un code vous permttant de poster vous citations</p>
		</div>
	</div>

	<p class="espace">

	<form id="form1">
		<input type="email" name="fmail" value="" placeholder="Adresse email..."><br>
		<!-- <input type="text" name="message" value=""><br><br> -->
		<p class="espace">
		<textarea id="message" name="message" placeholder="message..." style="margin: 0px; width: 455px; height: 106px;"></textarea>
	</form>

	<input type="submit" value="Envoyer" onclick="myFunction()">
	<!-- <button onclick="myFunction()">Envoyer</button> -->

	<p class="espace">

	<p id="test"></p>


	<script>
	function myFunction(){
		var x = document.getElementById("form1");
		var text = "";
		var i;
		for (i = 0; i < x.length; i++) {
			text += x.elements[i].value + "<br>";
		}
		document.getElementById("test").innerHTML = text;
		console.log(text);
	}


	</script>

</body>

</html>